<section class="not-found-section">
    <div class="not-found-container">
        <div class="code">404</div>
        <div class="body">
            <h2 class="title">Page not found</h2>
            <div class="description">Sorry, we couldn’t find the page you’re looking for.</div>
        </div>
        <div class="buttons">
            <a routerLink="/home" class="btn btn__home">Go back home</a>
            <a routerLink="/home" class="btn btn__support">Contact support →</a></div>
    </div>
</section>