<nav class="side-nav">
    <div class="nav-header">
        <i class='bx bxs-user-circle'></i>
        Account Details
    </div>
    <ul class="nav-list">
        <li>
            <a [routerLink]="['/customer-feature', { outlets: { nav: ['profile'] } }]" routerLinkActive="active">
                <i class='bx bxs-user-detail'></i>
                My Profile
            </a>
        </li>
        <li>
            <a [routerLink]="['/customer-feature', { outlets: { nav: ['order', 'CONFIRMED'] } }]" routerLinkActive="active">
                <i class='bx bxs-package'></i>
                My Orders
            </a>
        </li>
        <li>
            <a [routerLink]="['/customer-feature', { outlets: { nav: ['wishlist'] } }]" routerLinkActive="active">
                <i class='bx bxs-heart'></i>
                My Wish List
            </a>
        </li>
        <li>
            <a [routerLink]="['/customer-feature', { outlets: { nav: ['trade-ins'] } }]" routerLinkActive="active">
                <i class='bx bx-transfer'></i>
                My Trade-ins
            </a>
        </li>
        <li>
            <a [routerLink]="['/customer-feature', { outlets: { nav: ['addresses'] } }]" routerLinkActive="active">
                <i class='bx bxs-map'></i>
                My Addresses
            </a>
        </li>
        <li>
            <a [routerLink]="['/customer-feature', { outlets: { nav: ['payment-methods'] } }]" routerLinkActive="active">
                <i class='bx bxs-credit-card'></i>
                Payment Methods
            </a>
        </li>
        <li>
            <a [routerLink]="['/customer-feature', { outlets: { nav: ['notifications'] } }]" routerLinkActive="active">
                <i class='bx bxs-bell'></i>
                Notifications
            </a>
        </li>
        <li>
            <a [routerLink]="['/customer-feature', { outlets: { nav: ['security'] } }]" routerLinkActive="active">
                <i class='bx bxs-lock-alt'></i>
                Security
            </a>
        </li>
        <li>
            <a class="sign-out" (click)="signOut()">
                <i class='bx bx-log-out'></i>
                Sign Out
            </a>
        </li>
    </ul>
</nav>