<section class="login-section">
    <div class="container">
        <h2 class="title">LOGIN</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input__group">
                <input type="text" formControlName="username" placeholder="Username" autofocus>
            </div>
            <div class="input__group">
                <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Password">
                <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                    {{ showPassword ? 'Hide' : 'Show' }}
                </button>
            </div>
            <div class="btn__submit">
                <button type="submit" [disabled]="!loginForm.valid">LOGIN</button>
            </div>
        </form>
        <div class="forgot-password">
            <a routerLink="/forgot-password">Forgot Password?</a>
        </div>
    </div>
</section>