.return{
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: rgba(179, 179, 179, 0.447);
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
    color: transparent;
    display: inline-block;  // Đảm bảo phần tử chứa văn bản có thể xoay
    transform: rotate(-10deg) translateX(200px); 
    text-align: center;
    writing-mode: vertical-lr;
    font-size: 2.5rem;
    padding: 2rem;

    &:hover{
        color: rgb(156, 133, 133);
        background-color: rgba(179, 179, 179, 0.684);
        transform: translateX(100px);
    }
}
.product-form {
    max-width: 1200px;
    margin   : 0 auto;
    padding  : 20px;

    .section {
        background   : #fff;
        border-radius: 8px;
        padding      : 20px;
        margin-bottom: 20px;
        box-shadow   : 0 2px 4px rgba(0, 0, 0, 0.1);

        .section-header {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            margin-bottom  : 20px;

            h2 {
                margin: 0;
                color : #333;
            }
        }
    }

    .form-grid {
        display              : grid;
        grid-template-columns: repeat(4, 1fr);
        gap                  : 20px;

        .thumbnail-group {
            grid-column: 1 / span 2;
            grid-row   : 1 / span 2;
        }

        .description-group {
            grid-column: 3 / span 2;
            grid-row   : 1 / span 2;

            textarea {
                height    : 93%;
                min-height: 150px;
                resize    : none;
            }
        }

        .brand-group {
            grid-column: 1;
            grid-row   : 3;
        }

        .category-group {
            grid-column: 2;
            grid-row   : 3;
        }

        .base-price-group {
            grid-column: 1;
            grid-row   : 4;
        }

        .price-group {
            grid-column: 2;
            grid-row   : 4;
        }

        .stock-group {
            grid-column: 3 / span 2;
            grid-row   : 4 / span 2;

            input {
                outline         : 2px solid transparent; // màu xanh lá
                outline-offset  : 0px;
                background-color: #4CAF50;
                color           : #fff;
                text-align      : center;
                font-weight     : bold;
                transition      : all .3s cubic-bezier(0.165, 0.84, 0.44, 1);

                &:focus {
                    outline-offset: 3px;
                    outline-color : #4CAF50;
                }
            }
        }
    }

    .form-group {
        margin-bottom: 15px;

        label {
            display      : block;
            margin-bottom: 5px;
            font-weight  : 500;
        }

        input,
        select,
        textarea {
            width        : 100%;
            padding      : 8px;
            border       : 1px solid #ddd;
            border-radius: 4px;
            outline      : 2px solid transparent;
            transition   : all .3s cubic-bezier(0.165, 0.84, 0.44, 1);

            &.ng-touched.ng-invalid {
                outline         : 2px solid #e66875;
                outline-offset  : 3px;
                background-color: #fff;
                border-color    : #e66875;
            }
        }

        .text-muted {
            font-size: .75rem;
            color    : rgba(128, 128, 128, 0.826);
        }
    }

    .error-block {
        outline         : 2px solid #e66875;
        outline-offset  : 3px;
        background-color: #e66875 !important;
        border-color    : #e66875;
        color           : #fff;
    }

    .error {
        color     : #dc3545;
        font-size : 0.875rem;
        margin-top: 4px;
    }

    .color-item {
        border       : 1px solid #ddd;
        padding      : 20px;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .box-selected {
        @extend .box-shadow-selected;
    }

    .color-actions {
        display   : flex;
        gap       : 10px;
        margin-top: 10px;
    }

    .size-actions {
        display    : flex;
        gap        : 1rem;
        align-items: center;

        input {
            padding      : 0.5rem;
            border       : 1px solid #ddd;
            border-radius: 4px;
        }
    }

    .size-grid {
        display              : grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap                  : 10px;
        margin-top           : 20px;
    }

    .size-item {
        .size-label {
            display      : flex;
            align-items  : center;
            padding      : 8px;
            border       : 1px solid #ddd;
            border-radius: 4px;
            cursor       : pointer;

            &.selected {
                background-color: #e3f2fd;
                border-color    : #2196f3;
            }

            input[type="checkbox"] {
                margin-right: 8px;
            }
        }
    }

    .color-size-details {
        margin-top: 4rem;

        h4 {
            font-size: 1.15rem;
            color    : blueviolet;
        }
    }

    .size-details-grid {
        display              : grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap                  : 20px;
        margin-top           : 15px;
    }

    .box-shadow-selected {
        border: 1px solid transparent;
        box-shadow: 0 0 5px burlywood,
            0 3px 7px blanchedalmond,
            0 0 10px bisque inset;
    }

    .size-detail-item {
        padding: 1rem;
        @extend .box-shadow-selected;
        border-radius: 8px;

        .size-header {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            margin-bottom  : 10px;
        }



        .size-title {
            font-weight: bold;

            padding         : 5px 5px;
            background-color: burlywood;
            color           : white;

            span {
                padding         : 10px;
                background-color: blueviolet;
                color           : white;
                border-radius   : 30%;
            }
        }

        .form-group {
            padding-inline: 1.5rem;
        }

        .active-toggle {
            display      : flex;
            align-items  : center;
            gap          : 5px;
            padding      : 2px 4px;
            border-radius: 4px;
            cursor       : pointer;
            color        : white;

            input {
                width        : 20px;
                aspect-ratio : 1;
                border-radius: 0;
                outline      : unset;
                accent-color : #93c8f3;
                padding      : 10px;
                cursor       : pointer;

                &:hover {
                    accent-color: #229afc;
                }
            }
        }

        .bg-cyan {
            background: #93c8f3;
        }

        .bg-red {
            background: #dc3545;

        }
    }

    .btn {
        padding      : 8px 16px;
        border-radius: 4px;
        border       : none;
        cursor       : pointer;
        font-weight  : 500;

        &.btn-primary {
            background-color: #007bff;
            color           : white;

            &:hover {
                background-color: #0056b3;
            }

            &:disabled {
                background-color: #ccc;
                cursor          : not-allowed;
            }
        }

        &.btn-secondary {
            background-color: #6c757d;
            color           : white;

            &:hover {
                background-color: #545b62;
            }
        }

        &.btn-danger {
            background-color: #dc3545;
            color           : white;

            &:hover {
                background-color: #c82333;
            }
        }
    }

    .actions {
        margin-top: 30px;
        text-align: right;

        .submit-btn {
            padding  : 10px 24px;
            font-size: 1.1rem;
        }
    }
}