@if (auth.isNotStaff()) {
    <section class="client-section">
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </section>
}
@else {
<section class="maganement-section">
    <app-management-navbar></app-management-navbar>
    <div class="router">
        <router-outlet></router-outlet>
    </div>
</section>
}
<app-notification></app-notification>

<!-- <app-access-management></app-access-management> -->
<!-- <app-product-management-add></app-product-management-add> -->
<!-- <section class="client-section">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</section> -->

<!-- <app-user-management-edit></app-user-management-edit> -->
<!-- <app-user-management-filter></app-user-management-filter> -->

<!-- <app-reset-password></app-reset-password> -->
<!-- <section class="maganement-section">
    
    <app-management-navbar></app-management-navbar>
    <div class="router">
        <router-outlet></router-outlet>
    </div>
</section> -->
<!-- <app-product-detail></app-product-detail> -->

