@if (auth.isNotStaff()) {
    <section class="client-section">
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </section>
}
    @else {
    <section class="management-section">
        <app-management-navbar></app-management-navbar>
        <div class="router" [class.full-width]="!nav.navSignal()">
            <router-outlet></router-outlet>
        </div>
    </section>
    }
<app-notification></app-notification>

<!-- <app-order-management></app-order-management> -->

<!-- <app-home-cart-page-customer-checkout /> -->
<!-- <app-testpayment></app-testpayment> -->
<!-- <app-test-ghn></app-test-ghn> -->
<!-- <app-order-payment></app-order-payment> -->

<!-- 
<section class="maganement-section">
    <app-management-navbar></app-management-navbar>
    <div class="router">
        <router-outlet></router-outlet>
    </div>
</section> -->
<!-- <app-product-management></app-product-management> -->
<!-- <app-access-management></app-access-management> -->
<!-- <app-product-management></app-product-management> -->
<!-- <section class="client-section">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</section> -->

<!-- <app-user-management-edit></app-user-management-edit> -->
<!-- <app-user-management-filter></app-user-management-filter> -->

<!-- <app-reset-password></app-reset-password> -->
<!-- <section class="maganement-section">
    
    <app-management-navbar></app-management-navbar>
    <div class="router">
        <router-outlet></router-outlet>
    </div>
</section> -->
<!-- <app-product-detail></app-product-detail> -->

