@import '../../variables';

.forgot-password-section {
  background-color: $gray-100;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: $background-color;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  padding: 2rem;
  width: 100%;

  .title {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 1.5rem;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .input__group {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        all: unset;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1rem 2rem;
        background: $gray-200;
        border-radius: 4px;
        border: 1px solid $border-color;

        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }
    }

    .btn__submit {
      margin-top: 1rem;

      button {
        all: unset;
        width: 100%;
        padding: 1.2rem 0;
        background-color: $primary-color;
        color: $btn-text-color;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover:not(:disabled) {
          background-color: $btn-text-color;
        }

        &:disabled {
          opacity: 0.7;
          cursor: not-allowed;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  form {
    .input__group input {
      font-size: 1rem;
      padding: 0.9rem;
    }

    .btn__submit button {
      padding: 0.9rem;
      font-size: 1rem;
    }
  }
}
