<section class="forgot-password-section">
    <div class="container">
        <h1 class="title">Forgot Password</h1>
        <form [formGroup]="forgotPasswordForm">
            <ng-container *ngIf="step === 'email'">
                <div class="input__group">
                    <input type="email" formControlName="email" placeholder="Enter your email">
                </div>
                <div class="btn__submit">
                    <button type="button" (click)="onSubmitEmail()"
                        [disabled]="forgotPasswordForm.get('email')?.invalid">
                        Send Reset Email
                    </button>
                </div>
            </ng-container>

            <ng-container *ngIf="step === 'code'">
                <div class="input__group">
                    <input type="text" formControlName="code" placeholder="Enter the reset code">
                </div>
                <div class="btn__submit">
                    <button type="button" (click)="onSubmitCode()" [disabled]="forgotPasswordForm.get('code')?.invalid">
                        Verify Code
                    </button>
                </div>
            </ng-container>

            <ng-container *ngIf="step === 'newPassword'">
                <div class="input__group">
                    <input type="password" formControlName="newPassword" placeholder="New Password">
                    <input type="password" formControlName="confirmPassword" placeholder="Confirm New Password">
                </div>
                <div class="btn__submit">
                    <button type="button" (click)="onSubmitNewPassword()" [disabled]="forgotPasswordForm.invalid">
                        Reset Password
                    </button>
                </div>
            </ng-container>
        </form>
    </div>
</section>