<nav class="order-status-nav">
    <div class="nav-container">
        <ul class="nav-list">
            <li>
                <a [routerLink]="['/customer-feature', { outlets: { nav: ['order', 'WAITING_FOR_CONFIRMATION'] } }]" 
                   routerLinkActive="active">
                    <i class='bx bx-time confirmation-icon'></i>
                    WAITING FOR CONFIRMATION
                </a>
            </li>
            <li>
                <a [routerLink]="['/customer-feature', { outlets: { nav: ['order', 'WAITING_FOR_GOODS'] } }]" 
                   routerLinkActive="active">
                    <i class='bx bx-package waiting-icon'></i>
                    WAITING FOR GOODS
                </a>
            </li>
            <li>
                <a [routerLink]="['/customer-feature', { outlets: { nav: ['order', 'WAITING_FOR_SHIPPING'] } }]" 
                   routerLinkActive="active">
                    <i class='bx bxs-truck shipping-icon'></i>
                    WAITING FOR SHIPPING
                </a>
            </li>
            <li>
                <a [routerLink]="['/customer-feature', { outlets: { nav: ['order', 'DELIVERED'] } }]" 
                   routerLinkActive="active">
                    <i class='bx bxs-check-circle delivered-icon'></i>
                    DELIVERED
                </a>
            </li>
            <li>
                <a [routerLink]="['/customer-feature', { outlets: { nav: ['order', 'CANCELED'] } }]" 
                   routerLinkActive="active">
                    <i class='bx bx-x-circle canceled-icon'></i>
                    CANCELED/FAILED
                </a>
            </li>
            <li>
                <a [routerLink]="['/customer-feature', { outlets: { nav: ['order', 'RETURNED'] } }]" 
                   routerLinkActive="active">
                    <i class='bx bx-revision returned-icon'></i>
                    RETURNED
                </a>
            </li>
            <!-- <li>
                <a [routerLink]="['/customer-feature', { outlets: { nav: ['order', 'FAILED'] } }]" 
                   routerLinkActive="active">
                    <i class='bx bxs-error-circle failed-icon'></i>
                    Alternative icons:
                    <i class='bx bxs-error'></i>
                    <i class='bx bxs-error-alt'></i>
                    <i class='bx bx-bug'></i>
                   
                    FAILED
                </a>
            </li> -->
        </ul>
    </div>
</nav>